.editor-wrapper {
  width: 800px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message-list-box {
  width: 800px;

  .avatar-img {
    width: 64px;
    height: 64px;
  }

  .avatar-img-small {
    width: 56px;
    height: 56px;
  }

  .my-iconfont {
    display: inline-block;
    transform: translateY(1px);
  }

  .info-box {
    img {
      max-width: 80%;
    }
  }

  .toggle-reply-box {
    color: #79a5e5;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

.score-box{
  position: fixed;
  right: 50px;
  top: 250px;
  width: 250px;
}
